<div ng-init="init()">

  <div class="menu">
    <p>
      <button ng-click="togglePlay()">Toggle Play</button>
    </p>
    <p>
      <button ng-click="setTool(Tool.Paint)">Add</button>
      <button ng-click="setTool(Tool.Delete)">Remove</button>
      <button ng-click="setTool(Tool.Inspect)">Inspect</button>
    </p>
    <label>ROWS</label>
    <input ng-model="rows" ng-change="changeSize(rows, cols)">
    <label>COLS</label>
    <input ng-model="cols" ng-change="changeSize(rows, cols)">
    <label>TILE SIZE</label>
    <input ng-model="tile_size" ng-change="changeTileSize(tile_size)">
    <p>
      Width: {{ width }}<br>
      Height: {{ height }}
    </p>
    <ul ng-show="current_tool == Tool.Paint">
      <li ng-repeat="obj in game_objects" ng-click="selectEntity(obj)">{{ obj.class_name }}</li>
    </ul>

    <ul ng-show="(current_tool == Tool.Inspect || current_tool == Tool.SetWaypoint) && current_inspect_cell">
      <li ng-repeat="obj in current_inspect_cell" ng-click="selectEntity(obj)">{{ obj.type }}</li>
    </ul>

    <ul ng-show="current_inspect_entity !== null">
      <li><button ng-click="setTool(Tool.SetWaypoint)">Set Waypoints</button></li>
      <ul>
        <li ng-repeat="wp in current_inspect_entity.waypoint_queue">
          [{{wp.x}}, {{wp.y}}]<br>
          <input type="text" ng-model="wp.wait" ng-value="wp.wait" style="width: 30px;">
        </li>
      </ul>
    </ul>
  </div>

  <div class="content">
    <div id="canvas_container" ng-style="{width: width + 'px', height: height + 'px'}" ng-mousedown="onCanvasMousedown($event)" ng-mouseup="onCanvasMouseup($event)"></div>
  </div>

<div class="hidden">

</div>
</div>
