<div ng-controller="MoveTriggerCtrl">

  <h5>Which object should move?</h5>
  <button class="btn btn-info" ng-click="selectOtherObject('setActionObject')">Other object</button>
  <button class="btn btn-info" ng-click="setActionObject(current_inspect_entity)">This object</button>

  <!-- WAYPOINTS -->
  <div ng-show="getActiveAction().action_object">
    <h5>Select a move type:</h5>
    <div class="btn-group">
      <button class="btn btn-default btn-group-item" ng-repeat="(key, val) in move_types" ng-click="setWaypointType(key)" ng-class="{active: (getActiveAction().wp_move_type === key)}">{{ val }}</button>
    </div>
    <hr>
    <div class="btn-group" ng-show="getActiveAction().wp_move_type">
      <button class="btn btn-primary" ng-click="setWpTool('addWaypoint')">Set waypoints</button>
      <button class="btn btn-warning" ng-click="resetWaypoints()">Reset</button>
    </div>

    <div class="row">
      <div class="col-md-6">
        <b>Point</b>
      </div>
      <div class="col-md-3">
        <b>Wait</b>
      </div>
      <div class="col-md-3">
        <b>Action</b>
      </div>
    </div>

    <div class="row" ng-repeat="wp in (getActiveAction().waypoint_queue)">
      <div class="col-md-6">
        [{{wp.x}}, {{wp.y}}]
      </div>
      <div class="col-md-3">
        <input class="form-control" type="text" ng-model="wp.wait" ng-value="wp.wait">
      </div>
      <div class="col-md-3">
      <button class="btn btn-danger" ng-click="removeWaypoint($index)">X</button>
      </div>
    </div>

  </div>

  <p class="alert alert-info" ng-show="show_info_select_object">
    Select another object on the map
  </p>

  <p class="alert alert-info" ng-show="show_info_select_cell">
    Select a cell on the map
  </p>

  <p ng-show="getActiveAction().wp_move_type" class="text-right">
    <button class="btn btn-primary" ng-click="done()">Done</button>
  </p>
</div>
