body {
  font-family: "Arial";
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #3498db;
  color: #FFFFFF;
}

.content {
}

#canvas_container {
  margin: auto;
  display: block;
  margin-top: 4em;
}

canvas {
  background-color: #000000;
}

.hidden {
  display: none;
}
